<div *ngIf="isShown" [class.show]="isShown" class="slide-in from-right">
  <div class="slide-in-content">
    <div class="container-form">
      <h1 class="form-sentence">Add New Book</h1>
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" id="commentform" class="comment-form" method="post">
        <div class="form-form">
          <div class="row-input">
            <input formControlName="name" id="name" class="input-field" name="name" type="text" value=""
                   pattern="^[^0-9]+$" size="30" maxlength="245" placeholder=" " >
            <label class="input-label" for="name">
              <span class="label-name">Name</span>
            </label>
          </div>
          <div class="row-input">
            <input formControlName="surname"class="input-field" id="surname" placeholder=" " name="surname" type="text"
                   value="" size="30" maxlength="245" required>
            <label class="input-label" for="surname" data-help="A girl has no name- Arya Stark">
              <span class="label-name">Surname</span>
            </label>
          </div>
          <div class="row-input">
            <input formControlName="title" class="input-field" id="title" placeholder=" " name="Title" type="text"
                   value="" size="30" maxlength="100" aria-describedby="email-notes">
            <label class="input-label" for="title">
              <span class="label-name">Title</span>
            </label>
          </div>
          <div class="row-input">
            <input formControlName="pages" class="input-field" type="number" id="pages" placeholder=" " name="Pages"
                   >
            <label class="input-label" for="pages">
              <span class="label-name">Pages</span>
            </label>
          </div>
          <div class="row-input">
            <input formControlName="completedPages" class="input-field" type="number" id="completed_pages" placeholder=" "
                   name="completed_pages">
            <label class="input-label" for="completed_pages">
              <span class="label-name">Completed Pages</span>
            </label>
          </div>
          <div class="row-input-read">
            <label class="form-control">
              <input formControlName="bookCompletion" id="bookCompletion" type="checkbox" name="checkbox" />
              Read?
            </label>
          </div>
          <div class="form-submit">
            <input  name="submit" [disabled]="bookForm.invalid"  type="submit" id="submit" class="submit" value="Add Book">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

