<div class="right-column">
  <div class="info-container">
    <div class="info-header">Information</div>
    <div class="books-stat">
      <div class="info">
        <h3>Books</h3>
        <span id="books-amount">{{books}}</span>
      </div>
      <div class="info">
        <h3>Completed Books</h3>
        <span id="books-completed">{{completedBooks}}</span>
      </div>
      <div class="info">
        <h3>Total Pages</h3>
        <span id="pages-amount-info">{{totalPages}}</span>
      </div>
    </div>
  </div>
  <app-add-book></app-add-book>
</div>
